// May need to add these line to .htacess file

// AddType video/mp4 mp4 m4v
// AddType video/ogg ogv
// AddType video/webm webm

video(src="/assets/video/podcast.ogv", controls)
	p Your browser does not support video.