section#leftbox
	form
		p (key) One: 
			input(type="text" id="one")
		p (value) Two:
			textarea(id="two")
		p 
			input(type="button" id="button" value="Save")

section#rightbox
	p Nothing yet hoss!